extends ../layout.pug

block variable 
    - var template = 'detail'

block content
    .detail
        .detail__wrapper
            figure.detail__media
                img.detail__media__image(alt=product.data.image.alt src=product.data.image.url)

            .detail__information
                p.detail__information__collection
                    span.detail__information__collection__text=product.data.collection.data.title

                h1.detail__information__title!=product.data.title.replace(' ', '<br>')

                .detail__information__content
                    .detail__information__highlights
                    each highlight in product.data.highlights
                        p.detail__information__highlight
                            svg.detail__information__highlight__icon
                                use(xlink:href=`sprite-${highlight.highlights_icon}`)

                            span.detail__information__highlight__text=highlight.highlight_text


                    .detail__information__list
                    each item in product.data.informations
                        p.detail__information__item
                        strong.detail__information__item__title
                            span.detail__information__item__title__text=item.informations_label

                        span.detail__information__item__description=item.informations_description

                    footer.detail__information__footer
                    a.detail__information__link(data-animation="link" href=product.data.link_url.url target="_blank")
                        span=product.data.link_text
